name: Bump

on:
  push:
    branches:
      - pre
      - main

permissions:
  contents: write

env:
  tag: ${{ github.event.head_commit.id }}

jobs:
  bump:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0
      - name: Calculate Next Version
        id: version
        run: |
          chmod +x .github/scripts/bump-version.sh
          chmod +x .github/scripts/calculate-version.sh
          NEW_VERSION=$(.github/scripts/calculate-version.sh)
          echo "new_version=$NEW_VERSION" >> $GITHUB_ENV
          echo "New Version: $NEW_VERSION"
      - name: Update Xcode Project Version
        run: |
          agvtool new-marketing-version ${{ env.new_version }}
      - name: 更新构建号
        run: agvtool next-version -all
      - name: 生成标签（pre 分支）
        if: github.ref == 'refs/heads/pre'
        run: |
          build=$(agvtool what-version -terse)
          echo "tag=p${{ env.new_version }}($build)" >> $GITHUB_ENV
      - name: 生成标签（main 分支）
        if: github.ref == 'refs/heads/main'
        run: |
          echo "tag=v${{ env.new_version }}" >> $GITHUB_ENV
      - name: 打标签并推送到仓库
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "ci: bump to ${{ env.new_version }}"
          commit_user_name: GitHub Action
          tagging_message: ${{ env.tag }}
          push_options: "--tags"
          branch: ${{ github.ref_name }}

  rebase:
    if: github.ref == 'refs/heads/main'
    needs:
      - bump
    runs-on: ubuntu-latest
    steps:
      - name: 拉取 main 分支
        uses: actions/checkout@v4
        with:
          ref: main
          fetch-depth: 0
      - name: 检查 pre 分支是否存在
        id: check_pre
        run: |
          if git ls-remote --heads origin pre | grep -q pre; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi
      - name: 拉取 pre 分支
        if: steps.check_pre.outputs.exists == 'true'
        run: git fetch origin pre
      - name: Rebase pre on main
        continue-on-error: true
        if: steps.check_pre.outputs.exists == 'true'
        run: git rebase origin/main
      - name: Push the rebased pre branch
        continue-on-error: true
        if: steps.check_pre.outputs.exists == 'true'
        run: git push origin pre
